@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Righteous&family=Work+Sans:wght@100;200;300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Righteous&family=Sen&family=Work+Sans:wght@100;200;300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:ital,wght@1,300&family=Righteous&family=Sen&family=Work+Sans:wght@100;200;300;400;600;800&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    /*Nos permie desilzar cuando hacemos click en los links del menu*/
    scroll-behavior: smooth;
}

/*------NAV----------*/
.contenedor-header {
    background: #fff;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    position: fixed;
    top: 0;
}

.contenedor-header header {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 15px;
}

.contenedor-header header .logo {
    text-decoration: none;
    display: flex;
    text-align: center;

}

.contenedor-header header .logo a {
    font-size: 25px;
    color: #5FBBBF;
    text-decoration: none;
    letter-spacing: 0.03em;
    font-family: 'Dancing Script', cursive;
}

.contenedor-header header ul {
    display: flex;
    list-style: none;

}

.contenedor-header header nav ul li a {
    text-align: none;
    font-size: 19px;
    color: #000000;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
    letter-spacing: 0.02em;
    font-family: 'Work Sans', sans-serif;
}

.contenedor-header header nav ul li a.active,
header nav ul li a:hover {
    color: #5FBBBF;
}

.nav-responsive {
    background-color: #5FBBBF;
    color: #ffffff;
    padding: 15px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/*-----------------SECCTION-----------------*/
.contenedor-sectionInicio {
    height: 100vh;
    background-image: url('../IMG/fondo1.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    scroll-margin-top: 67em;
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #18d4ca;
    opacity: 0.1;
}

.contenido_sectionInicio {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenido_sectionInicio h1 {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: auto;
    position: relative;
    z-index: 2;
    color: rgb(255, 255, 255);
    font-size: 100px;
    letter-spacing: 0.05em;
    text-decoration: none;

}

.sub_tittle {
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 0.05em;
    animation: teclear 5s steps(100) ;
}

@keyframes teclear {
    from {
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes efecto {
    50% {
        border-color: transparent;
    }
}





/*--- SECTION 2 ---*/
.container_QuienesSomos {
    height: 100vh;
    scroll-margin-top: 2.5em;
    display: flex;
    background-color: #ffffff;
}

.img_quienesSomos {
    width: 1300px;
    height: 700px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 45px;
    border-radius: 24% 76% 67% 33% / 75% 74% 26% 25%;
    border: 4px solid #18d4ca;
}

.span_quinesSomos {
    color: #5FBBBF;
}

.contenido_quienesSomos p {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.05em;
    width: 50%;
    display: flex;
    margin: 0 auto;
    font-size: 23px;
    text-align: center;
}

.animationh2 {
    letter-spacing: 0.05em;
    font-size: 70px;
    position: relative;

    margin-top: 60px;
}

#slide-in {
    text-align: center;
    color: black;
}



/*SECTION SERVICIOS*/
.contenedor-servicios {
    scroll-margin-top: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6F4F1;
}

.container_servicios {
    height: 100vh;
    width: 50%;
}

.container_servicios h3 {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 50px;
    font-size: 80px;
}

.serviciosSpan {
    color:#5FBBBF;
}

.serviciosSpanS {
    color: #000000;
}

.parrafoServicios {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 40px;
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.05em;
}

.card-text {
    text-align: center;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.row h5 {
    letter-spacing: 0.05em;
    text-align: center;
}

img {
    height: 150px;
    width: 100%;
}

div [class^="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}

.card {
    transition: 0.5s;
   background-color: #E6F4F1;


}

.card-title {
    font-size: 15px;
    transition: 1s;
}


.card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card-text {
    height: 80px;
}

.card-title i {
    font-size: 15px;
    transition: 1s;
    color:#5FBBBF;
}

.card-title i:hover {
    transform: scale(1.25) rotate(100deg);
    color:#A7A9DC;

}

.card::before,
.card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background-color:#A7A9DC;
    opacity: 0.10;
    content: '';
    pointer-events: none;
}

.card::before {
    transform-origin: left top;
}

.card::after {
    transform-origin: right bottom;
}

.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
    transform: scale3d(1, 1, 1);
}

.row a {
    margin-top: 30px;
    text-align: center;
    color: #A7A9DC;
}

.section_profesionales {
    height: 100vh;
background: #ffffff;

}



/*--- MEDIA QUERYS ---*/

@media screen and (max-width: 1448px) {
    .contenido_quienesSomos p {
        font-size: 21px;
        width: 80%;
    }
}

@media screen and (max-width:1250px) {


    /*SECCION NAV*/
    .contenedor-header header {
        justify-content: space-between;
    }

    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0px;
        top: 95px;
        background-color: #5FBBBF;
        width: 200px;

    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        padding: 10px;
    }

    .contenido_sectionInicio h1 {
        font-size: 80px;
    }

    /*seccion quienes somos*/
    .contenido_quienesSomos h2 {
        font-size: 65px;
    }

    /*seccion servicios*/
    .container_servicios {
        position: relative;
        width: 100%;
    }

    .container_servicios h3 {
        font-size: 65px;
        margin-top: 20px;
    }

    .row {
        width: 95%;
    }

    .link2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}


@media screen and (max-width: 1131px) {
    .img_quienesSomos {
        width: 650px;
        height: 450px;
        margin-bottom: 40px;
        margin-top: 120px;
    }

    .contenido_quienesSomos p {
        font-size: 24px;
        width: 80%;
    }

    .animationh2 {
        margin-top: 30px;
        font-size: 60px;

    }
}

@media screen and (max-width:684px){
    .contenido_sectionInicio h1 {
        font-size: 65px;
    }
    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }

}
@media screen and (max-width:595px){
    .contenido_sectionInicio h1 {
        font-size: 60px;
    }
    .contenido_quienesSomos h2 {
        font-size: 40px;
        margin-bottom: 15px;
    }
    .img_quienesSomos {
        width: 400px;
        height: 300px;
        margin-bottom: 55px;
        margin-top: 10px;
    }
    .contenido_quienesSomos p {
        font-size: 16px;
    }
    .container_servicios h3 {
        font-size: 40px;
        margin-top: 1px;
        margin-bottom:1px;
    }
    .parrafoServicios{
        font-size: 16px;
        margin: 1px 1px;
    }
    .row a {
        margin-top: 0px;
        text-align: center;
        color: #A7A9DC;
    }
    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media screen and (max-width:519px){
    .contenido_sectionInicio h1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 439px) {
    .contenedor-header header .logo {
        padding: 10px;
    }
    
    .contenedor-header header .logo a {
        font-size: 20px;
    }
    nav.responsive {
        display: block;
        position: absolute;
        right: 0px;
        top: 96px;
        background-color: #1E2D3B;
        width: 200px;
    }
    .contenido_sectionInicio h1 {
        font-size: 40px;
    }
    .sub_tittle{
        font-size: 15px;
    }
    .contenido_quienesSomos h2 {
        font-size: 40px;
    }
    .img_quienesSomos {
        width: 300px;
        height: 200px;
        margin-bottom: 10px;
        margin-top: 15px;
    }
    .contenido_quienesSomos p {
        font-size: 16px;
        width: 90%;
        margin-top: 55px;
    }

    .container_servicios h3 {
        font-size: 30px;
        margin-top: px;
        margin-bottom: 0px;
    }
    .parrafoServicios{
        font-size: 16px;
   

    }
    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;

    }

}