@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Righteous&family=Work+Sans:wght@100;200;300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Righteous&family=Sen&family=Work+Sans:wght@100;200;300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:ital,wght@1,300&family=Righteous&family=Sen&family=Work+Sans:wght@100;200;300;400;600;800&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    /*Nos permie desilzar cuando hacemos click en los links del menu*/
    scroll-behavior: smooth;
}

/*------NAV----------*/
.contenedor-header {
    background: #fff;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    position: fixed;
    top: 0;
}

.contenedor-header header {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 15px;
}

.contenedor-header header .logo {
    text-decoration: none;
    display: flex;
    text-align: center;

}

.contenedor-header header .logo a {
    font-size: 25px;
    color: #5FBBBF;
    text-decoration: none;
    letter-spacing: 0.03em;
    font-family: 'Dancing Script', cursive;
}

.contenedor-header header ul {
    display: flex;
    list-style: none;

}

.contenedor-header header nav ul li a {
    text-align: none;
    color: #000000;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
    letter-spacing: 0.02em;
    font-family: 'Work Sans', sans-serif;
}

.contenedor-header header nav ul li a.active,
header nav ul li a:hover {
    color: #5FBBBF;
}

.nav-responsive {
    background-color: #5FBBBF;
    color: #ffffff;
    padding: 15px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/*-----------------SECCTION-----------------*/
.contenedor-sectionInicio {
    height: 100vh;
    background-image: url('../IMG/fondo1.jpg');
    background-attachment: fixed;
    background-size: cover;
    scroll-margin-top: 45em;
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #18d4ca;
    opacity: 0.1;
}

.contenido_sectionInicio {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenido_sectionInicio h1 {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: auto;
    position: relative;
    z-index: 2;
    color: rgb(255, 255, 255);
    font-size: 100px;
    letter-spacing: 0.05em;
    text-decoration: none;
    animation: teclear 2s steps(70) infinite;
}

.sub_tittle {
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 0.05em;
}

@keyframes teclear {
    from {
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes efecto {
    50% {
        border-color: transparent;
    }
}



/*--- SECTION 2 ---*/
.pantalla-dividida {
    scroll-margin-top: 5em;
    display: flex;
}

.quienesSpan {
    color: #fff;
}


.izquierda {
    height: 100vh;
    background: rgb(95, 187, 191);
    background: linear-gradient(103deg, rgba(95, 187, 191, 1) 72%, rgba(0, 0, 0, 1) 100%);
    width: 50%;
}

.izquierda h2 {
    font-size: 90px;
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
}

.izquierda p {
    font-size: 19px;
    line-height: 30px;
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 60px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.05em;
}

.derecha {
    background-image: url('../IMG/escala-carrera_1098-16679.avif');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    width: 50%;
    height: 100vh;
}

.capa2 {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 50%;
    height: 100%;
    background-color: white;
    opacity: 0.15;
}

.buttonQuienesSomos {
    border: 1px solid antiquewhite;
    padding: 20px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 30px;
    font-weight: bold;
    display: inline-block;
    margin-top: 100px;
    letter-spacing: 0.2em;

}

.link {
    text-align: center;
}


/*SECTION SERVICIOS*/
.contenedor-servicios {
    scroll-margin-top: 5.9em;
    display: flex;
    justify-content: center;
}

.container_servicios {
    height: 100vh;
    width: 50%;
    background-color: white;
}

.container_servicios h3 {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 50px;
    font-size: 80px;
    animation: teclear 3s steps(70) infinite;
}

.serviciosSpan {
    color: #000000;
}

.serviciosSpanS {
    color: #5FBBBF;
}

.parrafoServicios {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 130px;
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.05em;
}

.card-text {
    text-align: center;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.row h5 {
    letter-spacing: 0.05em;
    text-align: center;
}

img {
    height: 150px;
    width: 100%;
}

div [class^="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}

.card {
    transition: 0.5s;
    cursor: pointer;
}

.card-title {
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
}


.card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card-text {
    height: 80px;
}

.card-title i {
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
    color: #5FBBBF;
}

.card-title i:hover {
    transform: scale(1.25) rotate(100deg);
    color: #18d4ca;

}

.card::before,
.card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: #5FBBBF;
    opacity: 0.10;
    content: '';
    pointer-events: none;
}

.card::before {
    transform-origin: left top;
}

.card::after {
    transform-origin: right bottom;
}

.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
    transform: scale3d(1, 1, 1);
}

.row a {
    margin-top: 50px;
    text-align: center;
}




/*--- MEDIA QUERYS ---*/
@media screen and (max-width: 1509px) {


    /*SECCION NAV*/
    .contenedor-header header{
        justify-content: space-between;
    }
    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0px;
        top: 95px;
        background-color: #5FBBBF;
        width: 200px;

    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        padding: 10px;
    }

    .contenido_sectionInicio h1 {
        font-size: 80px;
    }

    /*seccion quienes somos*/

    .pantalla-dividida {
        flex-direction: column;
         height:100vh;
    }

    .izquierda {
        width: auto;
        height: 100vh;
        padding: auto;
    }

    .derecha {
        width: auto;
    }

    .capa2 {
        display: none;
    }

    .izquierda h2 {
        font-size: 60px;
        margin-bottom: 10px;
    }

    .izquierda p {
        font-size: 18px;
        margin-top: 5px;
        width: 100%;
    }

    .buttonQuienesSomos {
        margin-top: 16px;
        margin-bottom: 20px;
        padding: 15px;
    }

    /*seccion servicios*/
    .container_servicios {
        position: relative;
        width: 100%;
    }
    .container_servicios h3 {
        font-size: 50px;
        margin-top: 20px;
    }

    .row{
        width: 90%;
    }
    .link2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}