@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Righteous&family=Work+Sans:wght@100;200;300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Righteous&family=Sen&family=Work+Sans:wght@100;200;300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:ital,wght@1,300&family=Righteous&family=Sen&family=Work+Sans:wght@100;200;300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Poppins:wght@200;300&display=swap');



* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    /*Nos permie desilzar cuando hacemos click en los links del menu*/
    scroll-behavior: smooth;
}

/*------NAV----------*/
.contenedor-header {
    background: #fff;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    position: fixed;
    top: 0;
}

.contenedor-header header {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 15px;
}

.contenedor-header header .logo {
    text-decoration: none;
    display: flex;
    text-align: center;

}

.contenedor-header header .logo a {
    font-size: 20px;
    color: #5FBBBF;
    text-decoration:none;
    font-family: 'Dancing Script', cursive;
}

.contenedor-header header ul {
    display: flex;
    list-style: none;

}

.contenedor-header header nav ul li a {
    text-align: none;
    font-size:16px;
    color: #000000;
    margin: 0 10px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}

.contenedor-header header nav ul li a.active,
header nav ul li a:hover {
    color: #5FBBBF;
}

.nav-responsive {
    background-color: #5FBBBF;
    color: #ffffff;
    padding: 15px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/*-----------------SECCTION-----------------*/
.contenedor-sectionInicio {
    height: 100vh;
    background-image: url('../IMG/fondo1.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    scroll-margin-top: 67em;
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-color: #18d4ca;
    opacity: 0.1;
    
}

.contenido_sectionInicio {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenido_sectionInicio h1 {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: auto;
    position: relative;
    z-index: 2;
    color: rgb(255, 254, 254);
    font-size: 65px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.3em;
    text-decoration: none;
    
}

.sub_tittle {
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 0.05em;
    animation: teclear 5s steps(100) infinite;
    margin-top: 20px;
    color: #ffffff;

}

.spanTandil {
    font-family: 'Outfit', sans-serif;
    letter-spacing: 0.3em;
    color: #ffffff;
    
}
.spanDil {
    font-family: 'Outfit', sans-serif;
    letter-spacing: 0.3em;
    color: #ffffff;
    
}
.spanEstudio{
    color: #ffffff;
}
.spanJuridico{
    color:#4cb8d3;
}
@keyframes teclear {
    from {
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes efecto {
    50% {
        border-color: transparent;
    }
}



/*--- SECTION 2 ---*/
.container_QuienesSomos {
    height: 100vh;
    scroll-margin-top: 3.5em;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}


.img_quienesSomos {
    width: 900px;
    height: 500px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 35px;
    border-radius: 24% 76% 67% 33% / 75% 74% 26% 25%;
    border: 4px solid #18d4ca;
}

.span_quinesSomos {
    color: #5FBBBF;
    font-family: 'Poppins', sans-serif;
}

.contenido_quienesSomos p {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.05em;
    display: flex;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    width: 50%;
}

.animationh2 {
    font-family: 'Outfit', sans-serif;
    letter-spacing: 0.05em;
    font-size: 50px;
    position: relative;
    margin-top: 20px;
}

#slide-in {
    text-align: center;
    color: black;
}



/*SECTION SERVICIOS*/
.contenedor-servicios {
    height: 100%;
    scroll-margin-top: 10.5rem;
    display: flex;
    justify-content: center;
    background-color: #E6F4F1;
    position: absolute;
}

.container_servicios {
    width: 60%;
}

.container_servicios h3 {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 20px;
    letter-spacing: 0.05em;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;

    color: #5FBBBF;
}



.serviciosSpanS {
    color: #000000;
    font-family: 'Outfit', sans-serif;

}

.parrafoServicios {
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.05em;
}

.card-text {
    text-align: center;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}

.row h5 {
    letter-spacing: 0.05em;
    text-align: center;
}

img {
    height: 150px;
    width: 100%;
}

div [class^="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}

.card {
    transition: 0.5s;
    background-color: #E6F4F1;


}

.card-title {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    transition: 1s;
}


.card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card-text {
    height: 100px;
}

.card-title i {
    font-size: 15px;
    transition: 1s;
    color: #5FBBBF;
}

.card-title i:hover {
    transform: scale(1.25) rotate(100deg);
    color: #A7A9DC;

}

.card::before,
.card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background-color: #A7A9DC;
    opacity: 0.10;
    content: '';
    pointer-events: none;
}

.card::before {
    transform-origin: left top;
}

.card::after {
    transform-origin: right bottom;
}

.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
    transform: scale3d(1, 1, 1);
}

.row a {
    margin-top: 30px;
    text-align: center;
    color: #A7A9DC;
}


/* SECTION PROFESIONALES */

.section_profesionales {
    scroll-margin: 3.5em;
    background-color: #ffffff;
    height: 100vh;
    position: relative;
    margin-top: 610px;
    display: flex;
    justify-content: center;
}

.container_profesionales h4 {
    font-size: 50px;
    text-align: center;
    margin-top: 60px;
    font-family: 'Outfit', sans-serif;
    letter-spacing: 0.03em;
}

.spanEquipo {
    color: #5FBBBF;
}

.container_derProfesionales {
    background-color: #18d4ca;
    width: 50%;
    height: 50%;
    float: right;

}


.container_izqProfesionales {
    background-color: #4cb8d3;
    width: 50%;
    height: 50%;
    margin-top: 100px;
    margin-left: 5px;

    text-align: center;
}

.imgEquipo {
    position: absolute;
    width: 490px;
    height: 450px;
    margin-top: 300px;
    margin-left: 200px;
    border-radius: 220px;
}

.container_izqProfesionales h5 {
    font-size: 50px;
    font-family: 'Outfit', sans-serif;
    letter-spacing: 0.003em;
    color: #1E2D3B;
    text-align: center;

}


.container_izqProfesionales p {
    font-size: 20px;
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.03em;
    color: #1E2D3B;
}

.container_derProfesionales {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 5px;
    flex-direction: column;
}

.container_derProfesionales p {
    font-size: 20px;
    margin-top: 50px;
    letter-spacing: 0.03em;
    color: #1E2D3B;
    width: 50%;
    font-family: 'Open Sans', sans-serif;
}

.iconProfesionales {
    font-size: 30px;
    margin-top: 50px;
}


/*SECCION CONTACTO*/

.contacto {
    scroll-margin: 3.5em;
    background-color: #E6F4F1;
    color: #000000;
    padding: 50px 0;
    position: absolute;
    width: 100%;
}

.contacto .contenido-seccion {
    max-width: 1100px;
    margin: auto;

}

.contacto h2 {
    font-family: 'Outfit', sans-serif;
    font-size: 50px;
    letter-spacing: 0.05em;
    line-height: 0.03em;
    text-align: center;
    padding: 20px 0;
    margin-top: 5px;
    margin-bottom: 40px;
}

.contacto .fila {
    display: flex;
}

.contacto .col {
    width: 50%;
    padding: 10px;
    position: relative;
}

.contacto .col textarea {
    resize: none;
}

.contacto .col input,
.contacto .col textarea {
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #fff;
    color: #5FBBBF;
    font-size: 18px;
    letter-spacing: 0.05em;
    line-height: 1.5;
}

.contacto button {
    cursor: pointer;
    background-color: #5FBBBF;
    border: 2px solid #5FBBBF;
    width: 350px;
    display: block;
    margin: 0px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #ffffff;
    position: relative;
    z-index: 10;
}

.contacto .col img {
    width: 100%;
}

.contacto .col .info {
    position: absolute;
    top: 20%;
    background-color: #fff;
    padding: 20px;
    width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contacto .col .info ul {
    list-style: none;
}

.contacto .col .info ul li {
    margin-bottom: 20px;
}

.contacto .col .info ul li i {
    color: #5FBBBF;
    display: inline-block;
    margin-right: 20px;
}


/* ----------FOOTER ------------*/
footer {
    background-color: #5FBBBF;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
    position: absolute;
    margin-top: 910px;
    width: 100%;
}

footer .redes {
    margin-bottom: 10px;
}

footer .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 5px 5px;
    font-size: 20px;
    transition: .3s;
}

footer .arriba {
    display: block;
    width: 50px;
    height: 50px;
    background-color:#fff;
    border: 1.7px solid #4cb8d3;
    color: #5FBBBF;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10%;
    border-radius: 50px;
    line-height: 50px;
    font-size: 18px;
}















/*--- MEDIA QUERYS ---*/

@media only screen and (min-width: 1024px) and (max-width:1629px) {
    .img_quienesSomos {
        width: 800px;
        height: 400px;
    }

    .contenido_quienesSomos p {
        width: 90%;
    }
    
        /*CONTACTO*/
        .contacto h2{
            font-size: 2.5rem;
        }
        .contacto .col .info{
            width: 70%;
            left: 25%;
        }
        .contacto .col .info ul li{

            margin-left: -50px;
        }
    
        .contacto button{
            width: 300px;
        }
}



/*Nest Hub Max*/
@media only screen and (max-width:1280px) and (max-height:800px) {
    .img_quienesSomos {
        height: 400px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .row a {
        margin-top: 5px;
    }
}

/*otro tipo de portatil*/
@media only screen and (max-width:1629px) and (max-height:649px) {
    .contenido_sectionInicio h1 {
        font-size: 60px;
    }

    .sub_tittle {
        font-size: 30px;
    }

    .contenido_quienesSomos h2 {
        font-size: 45px;
        margin-bottom: 15px;
    }

    .img_quienesSomos {
        margin-bottom: 25px;
        margin-top: 15px;
        width: 600px;
        height: 300px;
    }

    .contenido_quienesSomos p {
        font-size: 17px;
        width: 90%;
    }

    .container_servicios {
        width: 80%;
    }

    .container_servicios h3 {
        font-size: 45px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .parrafoServicios {
        font-size: 17px;
        margin-bottom: 25px;
    }

    .row img {
        height: 90px;
        width: 100%;
    }
}

/*otro tipo de portatil*/
@media only screen and (max-width:1629px) and (max-height:569px) {
    .contenido_quienesSomos h2 {
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .img_quienesSomos {
        margin-top: 5px;
        width: 700px;
        height: 300px;
        margin-bottom: 5px;
    }
}

/*otro tipo de portatil*/
@media only screen and (max-width:1629px) and (max-height:753px) {
    .contenido_quienesSomos h2 {
        margin-bottom: 15px;
        margin-top: 10px;
    }

    .contenido_quienesSomos p {
        font-size: 16px;
    }

    .img_quienesSomos {
        margin-top: 5px;
        width: 600px;
        height: 300px;
        margin-bottom: 25px;
    }

    .parrafoServicios {
        font-size: 16px;
    }

    .row img {
        height: 60px;
        width: 100%;
    }

    .card-title {
        font-size: 14px;
    }

    .card-text {
        font-size: 12px;
    }
}

/*otro tipo de portatil*/
@media only screen and (max-width:1629px) and (max-height:540px) {
    .contenido_sectionInicio h1 {
        font-size: 55px;
    }

    .sub_tittle {
        font-size: 27px;
    }

    .contenido_quienesSomos h2 {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .contenido_quienesSomos p {
        font-size: 15px;
        width: 90%;

    }

    .img_quienesSomos {
        margin-top: 5px;
        width: 500px;
        height: 250px;
        margin-bottom: 15px;
    }

    .parrafoServicios {
        font-size: 15px;
    }

    .row img {
        height: 70px;
        width: 100%;
    }

    .card-title {
        font-size: 12px;
    }

    .card-text {
        font-size: 11px;
    }
}

/*otro tipo de portatil*/
@media only screen and (max-width:1629px) and (max-height:580px) {
    .contenido_sectionInicio h1 {
        font-size: 55px;
    }

    .sub_tittle {
        font-size: 27px;
    }

    .contenido_quienesSomos h2 {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .contenido_quienesSomos p {
        font-size: 15px;
        width: 90%;

    }

    .img_quienesSomos {
        margin-top: 5px;
        width: 500px;
        height: 250px;
        margin-bottom: 15px;
    }

    .parrafoServicios {
        font-size: 15px;
    }

    .row img {
        height: 70px;
        width: 100%;
    }

    .card-title {
        font-size: 12px;
    }

    .card-text {
        font-size: 11px;
    }
}

/*Nest hub*/
@media only screen and (max-width:1024px) and (max-height:600px) {

    .contenido_sectionInicio h1 {
        font-size: 50px;
    }

    .container_QuienesSomos h2 {
        font-size: 40px;
    }

    .img_quienesSomos {
        width: 600px;
        height: 250px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .container_QuienesSomos p {
        font-size: 15px;
    }

    .container_servicios h3 {
        font-size: 40px;
        margin-bottom: 5px;
        margin-top: 15px;
    }

    .parrafoServicios {
        margin-top: 5px;
        font-size: 15px;
        margin-bottom: 5px;
    }

    .card-title {
        font-size: 14px;
    }

    .card-text {
        font-size: 10px;
    }

    .row a {
        margin-top: 1px;
    }
}

/*Surface Pro 7*/
@media only screen and (max-width: 912px) and (max-height:1368px) {
    .contenido_sectionInicio h1 {
        font-size: 110px;
    }

    .sub_tittle {
        font-size: 55px;
    }

    .contenido_quienesSomos h2 {
        font-size: 90px;
    }

    .img_quienesSomos {
        width: 850px;
        height: 700px;
    }

    .contenido_quienesSomos p {
        font-size: 33px;
    }

    .container_servicios h3 {
        font-size: 90px;
    }

    .parrafoServicios {
        font-size: 33px;
    }

    .card-title {
        font-size: 25px;
    }

    .card-text {
        font-size: 20px;
    }
}

/*iPad Air*/
@media only screen and (max-width: 820px) and (max-height:1180px) {
    .contenido_quienesSomos h2 {
        font-size: 80px;
        margin-bottom: 50px;
    }

    .img_quienesSomos {
        width: 750px;
        height: 500px;
        margin-bottom: 50px;
    }

    .contenido_quienesSomos p {
        font-size: 25px;
    }

    .container_servicios h3 {
        font-size: 80px;
    }

    .parrafoServicios {
        font-size: 25px;
        margin-bottom: 70px;
    }
}

/*iPad Mini*/
@media only screen and (max-width: 768px) and (max-height:1024px) {

    .img_quienesSomos {
        margin-bottom: 20px;
    }

    .contenido_quienesSomos p {
        font-size: 22px;
    }

    .container_servicios h3 {
        font-size: 80px;
    }

    .parrafoServicios {
        font-size: 22px;
        margin-bottom: 20px;
    }
}


/*TABLLET*/
@media only screen and (min-width: 767px) and (max-width: 1023px) {

    /*nav*/
    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0px;
        top: 74px;
        background-color:#5FBBBF;
        width: 100%;
        height: 50vh;    

    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        padding: 10px;
        margin-top: 30px;
    }

    .contenedor-header header nav ul li a{
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        color:#ffffff;
        margin-left: 300px;
    }
    .contenedor-header header nav ul li a.active,
    header nav ul li a:hover {
        color: #ffffff;
    }

    /*inicio*/
    .contenido_sectionInicio h1 {
        font-size: 60px;
    }

    .sub_tittle {
        font-size: 30px;
    }

    /*quienes somos*/
    .container_QuienesSomos h2 {
        font-size: 2.5rem;
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .img_quienesSomos {
        margin-top: 5px;
        height: 350px;
        width: 600px;
        margin-bottom: 20px;
    }

    .container_QuienesSomos p {
        font-size: 20px;
        width: 95%;
    }

    /*servicios*/
    .container_servicios {
        width: 90%;
    }

    .container_servicios h3 {
        font-size: 2.5rem;
    }

    .parrafoServicios {
        font-size: 20px;
    }

    .card-title {
        font-size: 15px;
    }

    .card-text {
        font-size: 12px;
    }
        /*PROFESIONALES*/



        .container_izqProfesionales p{
            margin-top: 45px;

        }
        .container_derProfesionales p{
            margin-top: 25px;

            width: 90%;
        }
        
        /*CONTACTO*/
        .contacto h2{
            font-size: 2.5rem;
        }
        .contacto .col .info{
            width: 70%;
            left: 30%;
        }
        .contacto .col .info ul li{

            margin-left: -50px;
        }
    
        .contacto button{
            width: 300px;
        }
}

/*MOBILE*/
@media only screen and (max-width: 767px) {

      /*nav*/
      nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0px;
        top: 74px;
        background-color:#5FBBBF;
        width: 100%;
        height: 65vh;    

    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        padding: 10px;
        margin-top: 30px;
    }

    .contenedor-header header nav ul li a{
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        color:#ffffff;
    }
    .contenedor-header header nav ul li a.active,
    header nav ul li a:hover {
        color: #ffffff;
    }
    /*inicio*/
    .contenido_sectionInicio h1 {
        font-size: 45px;
        align-items: center;
    }

    .sub_tittle {
        font-size: 20px;
    }

    /*quienes somos*/
    .container_QuienesSomos h2 {
        font-size: 2.5rem;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .img_quienesSomos {
        margin-top: 25px;
        height: 450px;
        margin-bottom: 25px;
    }

    .container_QuienesSomos p {
        font-size: 16px;
        width: 95%;
    }

    /*servicios*/
    .container_servicios {
        width: 90%;
    }

    .container_servicios h3 {
        font-size: 2.5rem;
        margin-top: 5px;
        margin-bottom: 7px;
    }

    .parrafoServicios {
        font-size: 15px;
        margin-top: 0px;
        text-align: center;
        letter-spacing: 0em;
        margin-bottom: 5px;
    }

    .card {
        height: 170px;
    }

    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .card-title {
        font-size: 14px;
    }

    .card-text {
        font-size: 11px;
    }

    .mb-3 {
        margin-top: 0px !important;
    }

    .mt-3 {
        margin-top: 0px !important;
    }

    .row a {
        margin-top: 10px;
        font-size: 10px;
    }

    .row img {
        height: 80px;
        width: 100%;
    }

    /*PROFESIONALES*/
    .container_profesionales h4{
        font-size: 2.5rem;
        margin-top: 30px;
    }
    .imgEquipo{
        width:250px;
        height: 200px;
        margin-left: 50px;
        margin-top: 400px;
    }
    .container_izqProfesionales h5{
        font-size: 1.5rem;
    }
    .container_izqProfesionales p{
        margin-top: 45px;
        font-size: 13px;
    }
    .container_derProfesionales p{
        margin-top: 25px;
        font-size: 13px;
        width: 90%;
    }
    
    /*CONTACTO*/
    .contacto h2{
        font-size: 2.5rem;
    }
    .contacto .col .info{
        width: 70%;
        left: 50%;
    }
    .contacto .col .info ul li{
        font-size: 9px;
        margin-left: -50px;
    }

    .contacto button{
        width: 300px;
    }

}


/*Surface Duo*/
@media only screen and (max-width: 540px) and (max-height:720px) {
    .contenido_sectionInicio h1 {
        font-size: 60px;
    }

    .sub_tittle {
        font-size: 30px;
    }

    .contenido_quienesSomos h2 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    .img_quienesSomos {
        width: 550px;
        height: 300px;
        margin-top: 5px;
        margin-bottom: 15px;
    }

    .contenido_quienesSomos p {
        font-size: 18px;
    }

    .container_servicios h3 {
        font-size: 40px;
    }

    .parrafoServicios {
        font-size: 14px;
    }

    .card-title {
        font-size: 15px;
    }

    .card-text {
        font-size: 12px;
    }
}

/*Samsung Galaxi A51/71*/
@media only screen and (max-width: 412px) and (max-height:914px) {
    .contenido_sectionInicio h1 {
        font-size: 60px;
    }

    .sub_tittle {
        font-size: 25px;
    }

    .contenido_quienesSomos h2 {
        font-size: 50px;
        margin-bottom: 5px;
    }

    .img_quienesSomos {
        width: 600px;
        height: 400px;
        margin-bottom: 5px;
    }

    .contenido_quienesSomos p {
        font-size: 18px;
    }

    .container_servicios h3 {
        font-size: 50px;
    }

    .parrafoServicios {
        font-size: 18px;
    }

    .card-title {
        font-size: 14px;
    }

    .card-text {
        font-size: 12px;
    }
}

/*iPhone SE*/
@media only screen and (max-width: 375px) and (max-height:667px) {
    .contenido_quienesSomos h2 {
        font-size: 37px;
    }

    .img_quienesSomos {
        width: 300px;
        height: 250px;
    }

    .container_servicios h3 {
        margin-top: 15px;
        font-size: 37px;
        margin-bottom: 0px;
    }

    .parrafoServicios {
        font-size: 13px;
    }

    .card-title {
        font-size: 9px;
    }

    .card-text {
        font-size: 9px;
    }

}

/*Samsung Galaxi S8*/
@media only screen and (max-width: 360px) and (max-height:740px) {
    .img_quienesSomos {
        width: 350px;
        height: 290px;
    }

    .parrafoServicios {
        font-size: 14px;
    }
}

/*Galaxi Fold*/
@media only screen and (max-width: 280px) and (max-height:653px) {
    .contenido_sectionInicio h1 {
        font-size: 40px;
    }

    .sub_tittle {
        font-size: 20px;
    }

    .contenido_quienesSomos h2 {
        font-size: 30px;
    }

    .img_quienesSomos {
        width: 300px;
        height: 300px;
    }

    .contenido_quienesSomos p {
        font-size: 12px;
    }

    .container_servicios h3 {
        font-size: 30px;
    }

    .parrafoServicios {
        font-size: 11px;
    }

    .card-title {
        font-size: 11px;
    }

    .card-text {
        font-size: 9px;
    }
}


/*MOBILE*/
@media only screen and (max-width: 425px) {

    /*nav*/
    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0px;
        top: 74px;
        background-color:#5FBBBF;
        width: 100%;
        height: 65vh;    

    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        padding: 10px;
        margin-top: 30px;
    }

    .contenedor-header header nav ul li a{
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        color:#ffffff;
    }
    .contenedor-header header nav ul li a.active,
    header nav ul li a:hover {
        color: #ffffff;
    }

    .contenido_sectionInicio h1 {
        font-size: 40px;
        align-items: center;
    }

    .sub_tittle {
        font-size: 15px;
    }

    /*quienes somos*/
    .container_QuienesSomos h2 {
        font-size: 2rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .img_quienesSomos {
        margin-top: 5px;
        height: 300px;
        width: 550px;
        margin-bottom: 30px;
    }

    .container_QuienesSomos p {
        font-size: 15px;
        width: 98%;
    }

    /*servicios*/
    .container_servicios {
        width: 90%;
    }

    .container_servicios h3 {
        font-size: 2rem;
        margin-top: 5px;
        margin-bottom: 7px;
    }

    .parrafoServicios {
        font-size: 14px;
        margin-top: 0px;
        text-align: center;
        letter-spacing: 0em;
        margin-bottom: 5px;
    }

    .card {
        height: 150px;
    }

    .card-title {
        font-size: 10px;
    }

    .card-text {
        font-size: 8px;
    }

    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .row img {
        height: 50px;
        width: 100%;
    }
        /*PROFESIONALES*/
        .container_profesionales h4{
            font-size: 2.5rem;
            margin-top: 30px;
        }
        .imgEquipo{
            width:250px;
            height: 200px;
            margin-left: 50px;
            margin-top: 400px;
        }
        .container_izqProfesionales h5{
            font-size: 1.5rem;
        }
        .container_izqProfesionales p{
            margin-top: 45px;
            font-size: 13px;
        }
        .container_derProfesionales p{
            margin-top: 25px;
            font-size: 13px;
            width: 90%;
        }
        
        /*CONTACTO*/
        .contacto h2{
            font-size: 2.5rem;
        }
        .contacto .col .info{
            width: 70%;
            left: 45%;
        }
        .contacto .col .info ul li{
            font-size: 9px;
            margin-left: -50px;
        }
    
        .contacto button{
            width: 300px;
        }

}

/*mobile mas pequeños*/
@media only screen and (max-width: 321px) and (max-height:612px) {
    .img_quienesSomos {
        width: 300px;
        height: 200px;
    }

    .parrafoServicios {
        font-size: 13px;
    }

    .row img {
        height: 50px;
        width: 100%;
    }

    .col-sm-6 {
        flex: 0 0 auto;
        width: 25%;
    }

    .card {
        height: 170px;
    }
}